<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.skhu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstExam">
        <activity
            android:name=".Exam8Activity"
            android:exported="false" />
        <activity
            android:name=".Exam7Activity"
            android:label="@string/exam7" />
        <activity
            android:name=".Exam6Activity"
            android:label="@string/exam6" />
        <activity
            android:name=".Exam5Activity"
            android:exported="false" />
        <activity
            android:name=".Exam4Activity"
            android:exported="false" />
        <activity
            android:name=".ListViewActivity"
            android:exported="false" />
        <activity
            android:name=".Exam2Activity"
            android:exported="false" />
        <activity
            android:name=".Exam1Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>